body {
  border: 1px solid gray;
  margin: 10px 50px;
  padding: 20px;
}

.bg-tiny-patrick {
  background-color: #f9d8de;
}

.bg-patrick {
  background-color: #FFC0CB;
}

.btn-patrick {
  border-color: #f9d8de;
}

input[type="radio"]:checked {
  background-color: #FFC0CB;
  border-color: #f9d8de;
}